<div class="container">
    <h1>Meeting Room Form</h1>
    <form [formGroup]="meetingRoomForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">名稱</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="size">容納人數</label>
            <select class="form-control" formControlName="size">
                <option *ngFor="let cap of capacity" [value]="cap"> {{cap}} </option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <label for="projector" class="form-check-label">投影機</label>
                <input type="checkbox" class="form-check-input" formControlName="projector">
            </div>
            <div class="form-check form-check-inline">
                <label for="TV" class="form-check-label">電視</label>
                <input type="checkbox" class="form-check-input" formControlName="TV">    
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div> meetingRoomForm.value: {{meetingRoomForm.value | json}} </div>
    <div> meetingRoom: {{meetingRoom | json}} </div>
</div>

